body {
  background-color: #f2ebe3;
  font-family: "Montserrat";
  color: #6c7289;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: "Fraunces";
  font-size: 1.9rem;
  color: #000;
}

span {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2rem;
  color: #3c8067;
  margin-right: 20px;
}

p {
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a { color: #3e52a3; }

.card {
  background-color: #fff;
  border-radius: 20px;
  width: 600px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagen {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  background-image: url("images/image-product-desktop.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  padding: 30px;
}

.description {
  margin-top: 30px;
}

.atc {
  background-color: #3c8067;
  border-color: #3c8067;
  margin-top: 10px;
}

.atc:hover {
  background-color: #1c232b;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  p {
    margin-bottom: 10px;
  }

  .card{
    width: 343px;
    height: 612px;
  }

  .imagen {
    background-image: url('images/image-product-mobile.jpg');
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }

  .text {
    width: 100%;
    height: 372px;
    padding: 25px;
  }

  .description {
    margin-top: 20px;
  }

  .price {
    margin-bottom: 0;
  }
}
